body {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #333;
}

.navbar {
    background-color: #696868;
}

.nav-link {
    font-size: 15px;
    color: whitesmoke;
}

.nav-link:hover {
    color: orange;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

